* {
	font-family: inherit;
	font-size: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	font-size: 100%;
}

body {
	color: #b4bac4;
	background-color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}

h1 {
	color: #ffffff;
	font-size: 2em;
	font-weight: normal;
}

h2 {
	color: #e671b8;
	font-size: 1.5em;
}

#container {
	min-height: 100%;
	position: relative;
}

#top-logo {
	max-width: 51em;
	margin: 0 auto;
}

#top-bar {
	margin: 0;
	height: 0.5em;
	background-color: #007ACC;
	clear: both
}

#content-area {
	max-width: 51em;
	margin: 0 auto;
	padding: 0 1em 7em 1em;
}

#content-body {
	margin: 0 0 0 16em;
	padding: 1em 0 0 0;
	/*overflow: hidden;*/
}